.image-and-metadata {
    display: flex;
    flex-flow: row wrap;
}

.image {
    border: 2px solid red;
    height: 70dvh;
    width: 69dvw;
    flex-grow: 0;

    img {
        object-fit: contain;
        height: 100%;
        width: 100%;
    }
}

.metadata {
    border: 2px solid green;
    width: 29dvw;
}


.meta-pair {
    display: flex;
    flex-flow: row;
}

.meta-key {
    border: 1px solid blue;
    font-style: italic;
    white-space: nowrap;
}

.meta-val {
    border: 1px solid red;
    flex-grow: 1;
    word-break: break-all;
}

.comment {
    margin-left: 0.5rem;
}

.faces {
    border: 2px solid green;
    display: flex;
    flex-flow: row wrap;

    .face {
        height: 200px;
        border: 1px solid orange;

        img {
            object-fit: contain;
            height: 100px;
            width: 100%;
        }
    }
}