.image-and-metadata {
    display: flex;
    flex-flow: row wrap;
}

.image {
    border: 2px solid red;
    height: 70dvh;
    width: 69dvw;
    flex-grow: 0;
    /* height: 300px; */
    /* width: 300px; */

    img {
        object-fit: contain;
        height: 100%;
        width: 100%;
    }
}

.metadata {
    border: 2px solid blue;
    text-wrap: wrap;
    overflow-wrap: break-word;
    width: 29dvw;
}

.faces {
    border: 2px solid green;
    display: flex;
    flex-flow: row wrap;

    .face {
        height: 200px;
        border: 1px solid orange;

        img {
            object-fit: contain;
            height: 100px;
            width: 100%;
        }
    }
}