.image-and-metadata {
    border: 2px solid yellow;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.image {
    border: 2px solid red;

    img {
        border: 2px solid purple;

        /* removes space below image?*/
        display: block;

        /* image can't he taller than 70% viewport
        and can't be taller than parent*/
        max-height: 70dvh;
        max-width: 100%;

        /* preserve aspect ratio with above constraints*/
        height: auto;
    }
}

.metadata {
    border: 2px solid green;
    min-width: 300px;

    /* grow to fill flex space*/
    flex: 1;

    /* allow words to break*/
    overflow-wrap: break-word;
}

.meta-pair {
    display: flex;
    flex-flow: row;
}

.meta-key {
    /* border: 1px solid blue; */
    font-style: italic;
    white-space: nowrap;
    padding-right: 0.5rem;
}

.meta-val {
    /* border: 1px solid red; */
    flex-grow: 1;
    word-break: break-all;
}

.monospace {
    font-family: monospace;
}

.comment {
    margin-left: 0.5rem;
}

.faces {
    border: 2px solid green;
    display: flex;
    flex-flow: row wrap;

    .face {
        max-height: 200px;
        border: 1px solid orange;
        text-align: center;

        img {
            object-fit: contain;
            max-height: 100px;
            width: auto;
        }
    }
}