.tiles {
    display: flex;
    flex-flow: row wrap;

    .tile {
        border: 2px solid orange;
        text-align: center;
        padding: 1rem;


        .image {
            /* border: 2px solid green; */
            /* max-width: 200px;
            max-height: 200px; */
            margin-bottom: 0.5rem;

            img {
                /* remove space below image*/
                display: block;
                object-fit: contain;
                width: 200px;
                height: 200px;
            }
        }
    }
}