.gallery {
    display: flex;
    flex-flow: row wrap;

    .tile {
        max-width: 300px;
        /* max-height: 400px; */
        border: 1rem solid green;
        margin: 1rem;

        img {
            object-fit: contain;
            max-width: 100%;
            max-height: 100%;
        }

        .faces {
            img {
                object-fit: contain;
                height: 100px;
                width: 100px;
            }
        }
    }
}