{% extends "base.html" %}
{% block title %}Gallery{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/css/gallery.css">
{% endblock %}

{% block extra_nav_items %}
<li><a href="/gallery?offset={{prev_offset}}&limit={{prev_limit}}">prev</a></li>
<li><a href="/gallery?offset={{next_offset}}&limit={{next_limit}}">next</a></li>
{% endblock %}

{% block content %}
<div class="gallery">
    {% for image in images %}
    <div class="tile">
        <div class="image">
            <a href="/image/{{ image.id }}">
                <img src="/static/image/{{ image.file_name }}" />
            </a>
        </div>
        {{titles[loop.index0]}}
    </div>
    {% endfor %}
</div>
{% endblock %}