{% extends "base.html" %}
{% block title %}Image{{ image_id }}{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" rel="noopener" target="_blank" href="/gallery/server/css/image.css">
{% endblock %}
{% block content %}
<h1>Image {{ image_id }}</h1>

<div class="image">
    <img src="/{{ img_path }}" />
</div>
<div>{{ image_id }}</div>
<div>{{ width }} x {{ height }}</div>
<div>Content Hash: {{ img_hash }}</div>
<div>Original File Name: {{ original_name }}</div>
<div>Original File Hash: {{ file_hash }}</div>

<h2> Detected Faces </h2>
<div class="faces">
    {% for face in faces %}
    <div class="face">
        <div>{{ face[0] }}</div>
        <div>Face {{ face[2] }}</div>
        <img src="/{{ face[0] }}" />
        {% if face[1] %}
        <a href="/person/{{ face[1] }}">Person {{ face[1] }}</a>
        {% endif %}
    </div>
    {% endfor %}
</div>

{% endblock %}