{% extends "base.html" %}
{% block title %}Label Faces{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" rel="noopener" target="_blank" href="/static/css/label.css">
{% endblock %}
{% block content %}
<h1>Label Faces</h1>

<a href="/label?offset={{prev_offset}}&limit={{prev_limit}}">&#8594</a>
<a href="/label?offset={{next_offset}}&limit={{next_limit}}">&#8592</a>

<form class="records" action="/api/v1/label-many" method="post">
    <datalist id="name-suggestions">
        {% for s in name_suggestions %}
        <option value="{{ s }}">
            {% endfor %}
    </datalist>
    <input type="submit" value="SUBMIT" />
    {% for record in records %}
    <div class="record">
        <div class="id">Face {{ record.face_id }}</div>
        <div class="face-tile">
            <div class="img-face"><img src="/static/face/{{ record.face_src }}" /></div>
            path here
        </div>
        <div class="orig-tile">
            <div class="img-orig">
                <a href="/image/{{ record.image_id }}">
                    <img src="/static/image/{{ record.image_src }}" />
                </a>
            </div>
            {{ record.image_title }}
        </div>
        <label for="{{ record.face_id }}-name">name</label>
        <input type="text" name="{{ record.face_id }}-name" list="name-suggestions" />

        <label for="{{ record.face_id }}-hidden">hide</label>
        <input type="checkbox" name="{{ record.face_id }}-hidden" />
    </div>
    {% endfor %}
</form>
{% endblock %}