{% extends "base.html" %}
{% block title %}{{ person_name }}{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" rel="noopener" target="_blank" href="/static/css/person.css">
{% endblock %}
{% block content %}
<h1>{{ person_name }}</h1>

<datalist id="name-suggestions">
    {% for s in all_names %}
    <option value="{{ s }}">
        {% endfor %}
</datalist>

<div class="gallery">
    {% for image in images %}
    <div class="tile">
        <div class="image">
            <img src="/static/image/{{ image.src }}" />
        </div>
        <div class="link">
            <a href="/image/{{ image.id }}">View/Edit</a>
        </div>
        <div class="faces">
            {% for face in image.faces %}
            <div class="image">
                <img src="/static/face/{{ face.src }}" />
            </div>
            <form class="label" action="/api/v1/label-one" method="post">
                <input type="hidden" name="face_id" value="{{ face.id }}" />
                <label for="name">name</label>
                <input type="text" name="name" list="name-suggestions" />
                <input type="submit" value="submit" />
            </form>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}